.Level {
	background-color: lightblue;
	height:100%;
	width:100%;
	display:table;
	text-align: center;
 	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.SpielStein, .StartStein {
	border-radius:50%;

}

.KeinSpielStein {

}

.SpielStein , .KeinSpielStein , .StartStein, .Frosch{
	margin:25px;
	height:50px;
	width:50px;
	display:inline-block;
}

.Frosch {
	background-image: url("Frosch.svg");
	background-repeat: no-repeat;
	position:relative;
}

